---
import {getImage} from "@astrojs/image";
import image1_src from "../../public/images/image1.jpg"
import image2_src from "../../public/images/image2.png"
import image3_src from "../../public/images/image3.png"
import image4_src from "../../public/images/image4.png"
import image5_src from "../../public/images/image5.png"
import image6_src from "../../public/images/image6.png"
import image7_src from "../../public/images/image7.png"

let [image2, image3, image4, image5, image6, image7] = (await Promise.all([ image2_src, image3_src, image4_src, image5_src, image6_src, image7_src].map(i => getImage({src: i, width: 40 })))).map(a => a.src)
let image1 = (await getImage({src: image1_src, width: 540 })).src

---
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <style
    type="text/css">@import url(https://themes.googleusercontent.com/fonts/css?kit=r_tUZNl0G8xCoOmp_JkSCn_jkhudHjPO7hwQoppXXfKTxFdFCTrJH14dSjjGv94EFo5lIhF2kmAiKSMsk3BEPpSvMFCyRkeW6YUcybanvCX-SYK_Ln3uQOimoUBe-l5o);

  body {
      margin: auto;
  }
  ul.lst-kix_hkcmwkbgky7b-0 {
      list-style-type: none
  }

  ul.lst-kix_aa8uo1paavna-3 {
      list-style-type: none
  }

  ul.lst-kix_hkcmwkbgky7b-1 {
      list-style-type: none
  }

  ul.lst-kix_aa8uo1paavna-4 {
      list-style-type: none
  }

  ul.lst-kix_7zuofplmnfl2-8 {
      list-style-type: none
  }

  ul.lst-kix_aa8uo1paavna-1 {
      list-style-type: none
  }

  ul.lst-kix_7zuofplmnfl2-7 {
      list-style-type: none
  }

  ul.lst-kix_aa8uo1paavna-2 {
      list-style-type: none
  }

  ul.lst-kix_7zuofplmnfl2-6 {
      list-style-type: none
  }

  ul.lst-kix_aa8uo1paavna-7 {
      list-style-type: none
  }

  ul.lst-kix_7zuofplmnfl2-5 {
      list-style-type: none
  }

  ul.lst-kix_aa8uo1paavna-8 {
      list-style-type: none
  }

  ul.lst-kix_7zuofplmnfl2-4 {
      list-style-type: none
  }

  ul.lst-kix_aa8uo1paavna-5 {
      list-style-type: none
  }

  ul.lst-kix_7zuofplmnfl2-3 {
      list-style-type: none
  }

  ul.lst-kix_aa8uo1paavna-6 {
      list-style-type: none
  }

  ul.lst-kix_7zuofplmnfl2-2 {
      list-style-type: none
  }

  ul.lst-kix_7zuofplmnfl2-1 {
      list-style-type: none
  }

  ul.lst-kix_7zuofplmnfl2-0 {
      list-style-type: none
  }

  ul.lst-kix_aa8uo1paavna-0 {
      list-style-type: none
  }

  ul.lst-kix_v64849hrc1vl-7 {
      list-style-type: none
  }

  ul.lst-kix_v64849hrc1vl-6 {
      list-style-type: none
  }

  ul.lst-kix_w8mps0arc4uv-0 {
      list-style-type: none
  }

  ul.lst-kix_v64849hrc1vl-8 {
      list-style-type: none
  }

  ul.lst-kix_v64849hrc1vl-3 {
      list-style-type: none
  }

  ul.lst-kix_w8mps0arc4uv-3 {
      list-style-type: none
  }

  ul.lst-kix_v64849hrc1vl-2 {
      list-style-type: none
  }

  ul.lst-kix_w8mps0arc4uv-4 {
      list-style-type: none
  }

  ul.lst-kix_v64849hrc1vl-5 {
      list-style-type: none
  }

  ul.lst-kix_w8mps0arc4uv-1 {
      list-style-type: none
  }

  ul.lst-kix_v64849hrc1vl-4 {
      list-style-type: none
  }

  ul.lst-kix_w8mps0arc4uv-2 {
      list-style-type: none
  }

  ul.lst-kix_w8mps0arc4uv-7 {
      list-style-type: none
  }

  ul.lst-kix_w8mps0arc4uv-8 {
      list-style-type: none
  }

  ul.lst-kix_v64849hrc1vl-1 {
      list-style-type: none
  }

  ul.lst-kix_w8mps0arc4uv-5 {
      list-style-type: none
  }

  ul.lst-kix_v64849hrc1vl-0 {
      list-style-type: none
  }

  ul.lst-kix_w8mps0arc4uv-6 {
      list-style-type: none
  }

  ul.lst-kix_hkcmwkbgky7b-8 {
      list-style-type: none
  }

  ul.lst-kix_hkcmwkbgky7b-6 {
      list-style-type: none
  }

  ul.lst-kix_hkcmwkbgky7b-7 {
      list-style-type: none
  }

  ul.lst-kix_hkcmwkbgky7b-4 {
      list-style-type: none
  }

  ul.lst-kix_hkcmwkbgky7b-5 {
      list-style-type: none
  }

  ul.lst-kix_hkcmwkbgky7b-2 {
      list-style-type: none
  }

  ul.lst-kix_hkcmwkbgky7b-3 {
      list-style-type: none
  }

  ul.lst-kix_sxgw0t7tf0x7-4 {
      list-style-type: none
  }

  ul.lst-kix_sxgw0t7tf0x7-5 {
      list-style-type: none
  }

  ul.lst-kix_sxgw0t7tf0x7-2 {
      list-style-type: none
  }

  ul.lst-kix_sxgw0t7tf0x7-3 {
      list-style-type: none
  }

  ul.lst-kix_sxgw0t7tf0x7-8 {
      list-style-type: none
  }

  ul.lst-kix_sxgw0t7tf0x7-6 {
      list-style-type: none
  }

  ul.lst-kix_sxgw0t7tf0x7-7 {
      list-style-type: none
  }

  ul.lst-kix_sxgw0t7tf0x7-0 {
      list-style-type: none
  }

  ul.lst-kix_sxgw0t7tf0x7-1 {
      list-style-type: none
  }

  .lst-kix_8ahwxmb4lw3v-3 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_8ahwxmb4lw3v-1 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_r4r2jpva7wfy-6 > li:before {
      content: "-  "
  }

  .lst-kix_8ahwxmb4lw3v-5 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_8ahwxmb4lw3v-7 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_r4r2jpva7wfy-4 > li:before {
      content: "-  "
  }

  .lst-kix_r4r2jpva7wfy-2 > li:before {
      content: "-  "
  }

  .lst-kix_r4r2jpva7wfy-0 > li:before {
      content: "\0027a2   "
  }

  ul.lst-kix_984xak4h2p1r-0 {
      list-style-type: none
  }

  ul.lst-kix_wolug8284btx-7 {
      list-style-type: none
  }

  ul.lst-kix_wolug8284btx-8 {
      list-style-type: none
  }

  ul.lst-kix_j2qap8sdvxqn-3 {
      list-style-type: none
  }

  ul.lst-kix_j2qap8sdvxqn-4 {
      list-style-type: none
  }

  ul.lst-kix_j2qap8sdvxqn-1 {
      list-style-type: none
  }

  ul.lst-kix_j2qap8sdvxqn-2 {
      list-style-type: none
  }

  ul.lst-kix_j2qap8sdvxqn-7 {
      list-style-type: none
  }

  ul.lst-kix_j2qap8sdvxqn-8 {
      list-style-type: none
  }

  ul.lst-kix_j2qap8sdvxqn-5 {
      list-style-type: none
  }

  ul.lst-kix_j2qap8sdvxqn-6 {
      list-style-type: none
  }

  .lst-kix_ipzq5wb174on-6 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_cwa99jva2bqv-6 > li:before {
      content: "-  "
  }

  .lst-kix_cwa99jva2bqv-8 > li:before {
      content: "-  "
  }

  .lst-kix_ipzq5wb174on-8 > li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_j2qap8sdvxqn-0 {
      list-style-type: none
  }

  .lst-kix_dyogcpel8zf1-3 > li:before {
      content: "-  "
  }

  ul.lst-kix_wolug8284btx-3 {
      list-style-type: none
  }

  ul.lst-kix_wolug8284btx-4 {
      list-style-type: none
  }

  ul.lst-kix_wolug8284btx-5 {
      list-style-type: none
  }

  ul.lst-kix_wolug8284btx-6 {
      list-style-type: none
  }

  .lst-kix_dyogcpel8zf1-5 > li:before {
      content: "-  "
  }

  ul.lst-kix_wolug8284btx-0 {
      list-style-type: none
  }

  ul.lst-kix_wolug8284btx-1 {
      list-style-type: none
  }

  .lst-kix_r4r2jpva7wfy-8 > li:before {
      content: "-  "
  }

  ul.lst-kix_wolug8284btx-2 {
      list-style-type: none
  }

  ul.lst-kix_4zgsutepat2w-6 {
      list-style-type: none
  }

  .lst-kix_cwa99jva2bqv-0 > li:before {
      content: "-  "
  }

  ul.lst-kix_6jrfsfgynl7z-6 {
      list-style-type: none
  }

  ul.lst-kix_4zgsutepat2w-5 {
      list-style-type: none
  }

  .lst-kix_hkcmwkbgky7b-6 > li:before {
      content: "-  "
  }

  ul.lst-kix_6jrfsfgynl7z-5 {
      list-style-type: none
  }

  ul.lst-kix_4zgsutepat2w-8 {
      list-style-type: none
  }

  .lst-kix_7zuofplmnfl2-1 > li:before {
      content: "-  "
  }

  .lst-kix_7zuofplmnfl2-3 > li:before {
      content: "-  "
  }

  ul.lst-kix_6jrfsfgynl7z-4 {
      list-style-type: none
  }

  ul.lst-kix_4zgsutepat2w-7 {
      list-style-type: none
  }

  ul.lst-kix_6jrfsfgynl7z-3 {
      list-style-type: none
  }

  .lst-kix_id6xy2u8uibi-8 > li:before {
      content: "-  "
  }

  ul.lst-kix_6jrfsfgynl7z-8 {
      list-style-type: none
  }

  ul.lst-kix_6jrfsfgynl7z-7 {
      list-style-type: none
  }

  ul.lst-kix_y2e7up5055m9-8 {
      list-style-type: none
  }

  ul.lst-kix_4zgsutepat2w-0 {
      list-style-type: none
  }

  .lst-kix_cwa99jva2bqv-4 > li:before {
      content: "-  "
  }

  ul.lst-kix_4zgsutepat2w-2 {
      list-style-type: none
  }

  .lst-kix_dyogcpel8zf1-1 > li:before {
      content: "-  "
  }

  ul.lst-kix_y2e7up5055m9-5 {
      list-style-type: none
  }

  ul.lst-kix_4zgsutepat2w-1 {
      list-style-type: none
  }

  .lst-kix_hkcmwkbgky7b-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_hkcmwkbgky7b-8 > li:before {
      content: "-  "
  }

  ul.lst-kix_y2e7up5055m9-4 {
      list-style-type: none
  }

  ul.lst-kix_4zgsutepat2w-4 {
      list-style-type: none
  }

  .lst-kix_id6xy2u8uibi-6 > li:before {
      content: "-  "
  }

  ul.lst-kix_y2e7up5055m9-7 {
      list-style-type: none
  }

  ul.lst-kix_4zgsutepat2w-3 {
      list-style-type: none
  }

  ul.lst-kix_y2e7up5055m9-6 {
      list-style-type: none
  }

  ul.lst-kix_y2e7up5055m9-1 {
      list-style-type: none
  }

  ul.lst-kix_y2e7up5055m9-0 {
      list-style-type: none
  }

  ul.lst-kix_y2e7up5055m9-3 {
      list-style-type: none
  }

  .lst-kix_tfqsafltqpp5-5 > li:before {
      content: "-  "
  }

  .lst-kix_tfqsafltqpp5-7 > li:before {
      content: "-  "
  }

  ul.lst-kix_y2e7up5055m9-2 {
      list-style-type: none
  }

  ul.lst-kix_p2ztj3l1lpfw-0 {
      list-style-type: none
  }

  .lst-kix_ipzq5wb174on-4 > li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_p2ztj3l1lpfw-1 {
      list-style-type: none
  }

  ul.lst-kix_984xak4h2p1r-6 {
      list-style-type: none
  }

  .lst-kix_ipzq5wb174on-2 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_hkcmwkbgky7b-2 > li:before {
      content: "-  "
  }

  ul.lst-kix_984xak4h2p1r-5 {
      list-style-type: none
  }

  ul.lst-kix_984xak4h2p1r-8 {
      list-style-type: none
  }

  ul.lst-kix_984xak4h2p1r-7 {
      list-style-type: none
  }

  .lst-kix_tfqsafltqpp5-3 > li:before {
      content: "-  "
  }

  ul.lst-kix_984xak4h2p1r-2 {
      list-style-type: none
  }

  .lst-kix_cwa99jva2bqv-2 > li:before {
      content: "-  "
  }

  ul.lst-kix_6jrfsfgynl7z-2 {
      list-style-type: none
  }

  .lst-kix_hkcmwkbgky7b-4 > li:before {
      content: "-  "
  }

  ul.lst-kix_984xak4h2p1r-1 {
      list-style-type: none
  }

  ul.lst-kix_6jrfsfgynl7z-1 {
      list-style-type: none
  }

  ul.lst-kix_984xak4h2p1r-4 {
      list-style-type: none
  }

  ul.lst-kix_6jrfsfgynl7z-0 {
      list-style-type: none
  }

  ul.lst-kix_984xak4h2p1r-3 {
      list-style-type: none
  }

  .lst-kix_sxgw0t7tf0x7-3 > li:before {
      content: "-  "
  }

  .lst-kix_13dzeq64cau6-0 > li:before {
      content: "-  "
  }

  .lst-kix_ipzq5wb174on-0 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_13dzeq64cau6-2 > li:before {
      content: "-  "
  }

  .lst-kix_sxgw0t7tf0x7-7 > li:before {
      content: "-  "
  }

  .lst-kix_sxgw0t7tf0x7-5 > li:before {
      content: "-  "
  }

  .lst-kix_id6xy2u8uibi-0 > li:before {
      content: "-  "
  }

  .lst-kix_id6xy2u8uibi-4 > li:before {
      content: "-  "
  }

  .lst-kix_sxgw0t7tf0x7-1 > li:before {
      content: "-  "
  }

  .lst-kix_id6xy2u8uibi-2 > li:before {
      content: "-  "
  }

  ul.lst-kix_9sq3rf3pxw4u-6 {
      list-style-type: none
  }

  ul.lst-kix_9sq3rf3pxw4u-7 {
      list-style-type: none
  }

  ul.lst-kix_9sq3rf3pxw4u-4 {
      list-style-type: none
  }

  .lst-kix_sob4lucndiow-1 > li:before {
      content: "-  "
  }

  .lst-kix_6jrfsfgynl7z-6 > li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_9sq3rf3pxw4u-5 {
      list-style-type: none
  }

  ul.lst-kix_9sq3rf3pxw4u-8 {
      list-style-type: none
  }

  .lst-kix_sob4lucndiow-5 > li:before {
      content: "-  "
  }

  .lst-kix_6jrfsfgynl7z-7 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_6jrfsfgynl7z-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_sob4lucndiow-4 > li:before {
      content: "-  "
  }

  .lst-kix_13dzeq64cau6-5 > li:before {
      content: "-  "
  }

  .lst-kix_13dzeq64cau6-4 > li:before {
      content: "-  "
  }

  .lst-kix_13dzeq64cau6-8 > li:before {
      content: "-  "
  }

  .lst-kix_r7k9cen0dq9c-2 > li:before {
      content: "-  "
  }

  .lst-kix_r7k9cen0dq9c-3 > li:before {
      content: "-  "
  }

  ul.lst-kix_9sq3rf3pxw4u-2 {
      list-style-type: none
  }

  .lst-kix_wolug8284btx-7 > li:before {
      content: "-  "
  }

  ul.lst-kix_9sq3rf3pxw4u-3 {
      list-style-type: none
  }

  ul.lst-kix_9sq3rf3pxw4u-0 {
      list-style-type: none
  }

  ul.lst-kix_9sq3rf3pxw4u-1 {
      list-style-type: none
  }

  .lst-kix_sob4lucndiow-8 > li:before {
      content: "-  "
  }

  .lst-kix_wolug8284btx-8 > li:before {
      content: "-  "
  }

  ul.lst-kix_sob4lucndiow-0 {
      list-style-type: none
  }

  ul.lst-kix_sob4lucndiow-1 {
      list-style-type: none
  }

  .lst-kix_5ymx50v1c0qw-6 > li:before {
      content: "-  "
  }

  .lst-kix_5ymx50v1c0qw-5 > li:before {
      content: "-  "
  }

  .lst-kix_7zuofplmnfl2-6 > li:before {
      content: "-  "
  }

  ul.lst-kix_sob4lucndiow-6 {
      list-style-type: none
  }

  ul.lst-kix_sob4lucndiow-7 {
      list-style-type: none
  }

  .lst-kix_7zuofplmnfl2-5 > li:before {
      content: "-  "
  }

  ul.lst-kix_sob4lucndiow-8 {
      list-style-type: none
  }

  ul.lst-kix_sob4lucndiow-2 {
      list-style-type: none
  }

  ul.lst-kix_sob4lucndiow-3 {
      list-style-type: none
  }

  ul.lst-kix_sob4lucndiow-4 {
      list-style-type: none
  }

  ul.lst-kix_sob4lucndiow-5 {
      list-style-type: none
  }

  .lst-kix_ai4jmr1m2pq0-1 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_ai4jmr1m2pq0-2 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_9sq3rf3pxw4u-7 > li:before {
      content: "-  "
  }

  .lst-kix_dyogcpel8zf1-6 > li:before {
      content: "-  "
  }

  .lst-kix_ai4jmr1m2pq0-5 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_ai4jmr1m2pq0-6 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_imdop1hv8u6m-5 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_imdop1hv8u6m-4 > li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_xp32sf8hjeeg-0 {
      list-style-type: none
  }

  .lst-kix_5ymx50v1c0qw-2 > li:before {
      content: "-  "
  }

  ul.lst-kix_xp32sf8hjeeg-1 {
      list-style-type: none
  }

  ul.lst-kix_xp32sf8hjeeg-6 {
      list-style-type: none
  }

  ul.lst-kix_xp32sf8hjeeg-7 {
      list-style-type: none
  }

  ul.lst-kix_xp32sf8hjeeg-8 {
      list-style-type: none
  }

  ul.lst-kix_xp32sf8hjeeg-2 {
      list-style-type: none
  }

  .lst-kix_5ymx50v1c0qw-1 > li:before {
      content: "-  "
  }

  ul.lst-kix_xp32sf8hjeeg-3 {
      list-style-type: none
  }

  ul.lst-kix_xp32sf8hjeeg-4 {
      list-style-type: none
  }

  .lst-kix_imdop1hv8u6m-8 > li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_xp32sf8hjeeg-5 {
      list-style-type: none
  }

  ul.lst-kix_r4r2jpva7wfy-0 {
      list-style-type: none
  }

  ul.lst-kix_r4r2jpva7wfy-1 {
      list-style-type: none
  }

  ul.lst-kix_r4r2jpva7wfy-2 {
      list-style-type: none
  }

  ul.lst-kix_r4r2jpva7wfy-3 {
      list-style-type: none
  }

  ul.lst-kix_r4r2jpva7wfy-4 {
      list-style-type: none
  }

  ul.lst-kix_r4r2jpva7wfy-5 {
      list-style-type: none
  }

  .lst-kix_wolug8284btx-4 > li:before {
      content: "-  "
  }

  ul.lst-kix_r4r2jpva7wfy-6 {
      list-style-type: none
  }

  ul.lst-kix_r4r2jpva7wfy-7 {
      list-style-type: none
  }

  .lst-kix_wolug8284btx-3 > li:before {
      content: "-  "
  }

  ul.lst-kix_r4r2jpva7wfy-8 {
      list-style-type: none
  }

  .lst-kix_wolug8284btx-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_of6tcldr97p-7 > li:before {
      content: "-  "
  }

  .lst-kix_of6tcldr97p-8 > li:before {
      content: "-  "
  }

  .lst-kix_imdop1hv8u6m-1 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_imdop1hv8u6m-0 > li:before {
      content: "\0027a2   "
  }

  ul.lst-kix_esok1lqq0gy4-2 {
      list-style-type: none
  }

  .lst-kix_8ahwxmb4lw3v-2 > li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_esok1lqq0gy4-3 {
      list-style-type: none
  }

  ul.lst-kix_esok1lqq0gy4-4 {
      list-style-type: none
  }

  .lst-kix_of6tcldr97p-4 > li:before {
      content: "-  "
  }

  .lst-kix_r4r2jpva7wfy-7 > li:before {
      content: "-  "
  }

  ul.lst-kix_esok1lqq0gy4-5 {
      list-style-type: none
  }

  ul.lst-kix_esok1lqq0gy4-6 {
      list-style-type: none
  }

  ul.lst-kix_esok1lqq0gy4-7 {
      list-style-type: none
  }

  ul.lst-kix_esok1lqq0gy4-8 {
      list-style-type: none
  }

  .lst-kix_8ahwxmb4lw3v-6 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_r4r2jpva7wfy-3 > li:before {
      content: "-  "
  }

  ul.lst-kix_esok1lqq0gy4-0 {
      list-style-type: none
  }

  ul.lst-kix_esok1lqq0gy4-1 {
      list-style-type: none
  }

  .lst-kix_1xoehsg6ow2g-1 > li:before {
      content: "-  "
  }

  .lst-kix_1xoehsg6ow2g-5 > li:before {
      content: "-  "
  }

  .lst-kix_of6tcldr97p-0 > li:before {
      content: "-  "
  }

  ul.lst-kix_coes7w5sxl6-7 {
      list-style-type: none
  }

  .lst-kix_p2ztj3l1lpfw-1 > li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_coes7w5sxl6-8 {
      list-style-type: none
  }

  .lst-kix_p2ztj3l1lpfw-5 > li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_coes7w5sxl6-0 {
      list-style-type: none
  }

  ul.lst-kix_coes7w5sxl6-1 {
      list-style-type: none
  }

  ul.lst-kix_coes7w5sxl6-2 {
      list-style-type: none
  }

  ul.lst-kix_coes7w5sxl6-3 {
      list-style-type: none
  }

  ul.lst-kix_coes7w5sxl6-4 {
      list-style-type: none
  }

  ul.lst-kix_coes7w5sxl6-5 {
      list-style-type: none
  }

  .lst-kix_984xak4h2p1r-7 > li:before {
      content: "-  "
  }

  .lst-kix_kafdcyx5afmh-8 > li:before {
      content: "-  "
  }

  ul.lst-kix_coes7w5sxl6-6 {
      list-style-type: none
  }

  .lst-kix_9sq3rf3pxw4u-3 > li:before {
      content: "-  "
  }

  .lst-kix_ipzq5wb174on-7 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_dyogcpel8zf1-2 > li:before {
      content: "-  "
  }

  .lst-kix_cwa99jva2bqv-7 > li:before {
      content: "-  "
  }

  .lst-kix_984xak4h2p1r-3 > li:before {
      content: "-  "
  }

  .lst-kix_kafdcyx5afmh-4 > li:before {
      content: "-  "
  }

  .lst-kix_7zuofplmnfl2-2 > li:before {
      content: "-  "
  }

  .lst-kix_4zgsutepat2w-3 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_hkcmwkbgky7b-5 > li:before {
      content: "-  "
  }

  .lst-kix_cwa99jva2bqv-3 > li:before {
      content: "-  "
  }

  .lst-kix_y2e7up5055m9-4 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_id6xy2u8uibi-7 > li:before {
      content: "-  "
  }

  .lst-kix_xp32sf8hjeeg-2 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_kafdcyx5afmh-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_y2e7up5055m9-8 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_hkcmwkbgky7b-1 > li:before {
      content: "-  "
  }

  ul.lst-kix_13dzeq64cau6-8 {
      list-style-type: none
  }

  .lst-kix_ipzq5wb174on-3 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_tfqsafltqpp5-2 > li:before {
      content: "-  "
  }

  .lst-kix_tfqsafltqpp5-6 > li:before {
      content: "-  "
  }

  ul.lst-kix_13dzeq64cau6-6 {
      list-style-type: none
  }

  ul.lst-kix_13dzeq64cau6-7 {
      list-style-type: none
  }

  ul.lst-kix_13dzeq64cau6-4 {
      list-style-type: none
  }

  .lst-kix_4zgsutepat2w-7 > li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_13dzeq64cau6-5 {
      list-style-type: none
  }

  ul.lst-kix_13dzeq64cau6-2 {
      list-style-type: none
  }

  .lst-kix_esok1lqq0gy4-1 > li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_13dzeq64cau6-3 {
      list-style-type: none
  }

  ul.lst-kix_13dzeq64cau6-0 {
      list-style-type: none
  }

  .lst-kix_xp32sf8hjeeg-6 > li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_13dzeq64cau6-1 {
      list-style-type: none
  }

  .lst-kix_aa8uo1paavna-1 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_r7k9cen0dq9c-6 > li:before {
      content: "-  "
  }

  .lst-kix_sxgw0t7tf0x7-6 > li:before {
      content: "-  "
  }

  .lst-kix_13dzeq64cau6-1 > li:before {
      content: "-  "
  }

  .lst-kix_w8mps0arc4uv-7 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_esok1lqq0gy4-5 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_w8mps0arc4uv-3 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_aa8uo1paavna-5 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_id6xy2u8uibi-3 > li:before {
      content: "-  "
  }

  .lst-kix_6jrfsfgynl7z-3 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_sxgw0t7tf0x7-2 > li:before {
      content: "-  "
  }

  .lst-kix_v64849hrc1vl-8 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_v64849hrc1vl-7 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_v64849hrc1vl-6 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_v64849hrc1vl-4 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_v64849hrc1vl-5 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_aa8uo1paavna-8 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_v64849hrc1vl-0 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_v64849hrc1vl-1 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_v64849hrc1vl-2 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_v64849hrc1vl-3 > li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_ai4jmr1m2pq0-4 {
      list-style-type: none
  }

  .lst-kix_coes7w5sxl6-5 > li:before {
      content: "-  "
  }

  .lst-kix_coes7w5sxl6-6 > li:before {
      content: "-  "
  }

  ul.lst-kix_ai4jmr1m2pq0-3 {
      list-style-type: none
  }

  .lst-kix_y2e7up5055m9-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_y2e7up5055m9-1 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_ljn97p2jccff-8 > li:before {
      content: "-  "
  }

  ul.lst-kix_ai4jmr1m2pq0-2 {
      list-style-type: none
  }

  ul.lst-kix_ai4jmr1m2pq0-1 {
      list-style-type: none
  }

  ul.lst-kix_ai4jmr1m2pq0-0 {
      list-style-type: none
  }

  .lst-kix_coes7w5sxl6-3 > li:before {
      content: "-  "
  }

  .lst-kix_coes7w5sxl6-7 > li:before {
      content: "-  "
  }

  .lst-kix_ljn97p2jccff-5 > li:before {
      content: "-  "
  }

  .lst-kix_ljn97p2jccff-4 > li:before {
      content: "-  "
  }

  .lst-kix_ljn97p2jccff-3 > li:before {
      content: "-  "
  }

  .lst-kix_coes7w5sxl6-4 > li:before {
      content: "-  "
  }

  ul.lst-kix_dyogcpel8zf1-0 {
      list-style-type: none
  }

  ul.lst-kix_dyogcpel8zf1-1 {
      list-style-type: none
  }

  ul.lst-kix_dyogcpel8zf1-2 {
      list-style-type: none
  }

  ul.lst-kix_dyogcpel8zf1-3 {
      list-style-type: none
  }

  ul.lst-kix_dyogcpel8zf1-4 {
      list-style-type: none
  }

  ul.lst-kix_dyogcpel8zf1-5 {
      list-style-type: none
  }

  ul.lst-kix_dyogcpel8zf1-6 {
      list-style-type: none
  }

  ul.lst-kix_dyogcpel8zf1-7 {
      list-style-type: none
  }

  ul.lst-kix_dyogcpel8zf1-8 {
      list-style-type: none
  }

  .lst-kix_coes7w5sxl6-1 > li:before {
      content: "-  "
  }

  .lst-kix_coes7w5sxl6-2 > li:before {
      content: "-  "
  }

  .lst-kix_ljn97p2jccff-6 > li:before {
      content: "-  "
  }

  .lst-kix_ljn97p2jccff-7 > li:before {
      content: "-  "
  }

  .lst-kix_coes7w5sxl6-0 > li:before {
      content: "-  "
  }

  .lst-kix_j2qap8sdvxqn-0 > li:before {
      content: "-  "
  }

  .lst-kix_j2qap8sdvxqn-1 > li:before {
      content: "-  "
  }

  .lst-kix_j2qap8sdvxqn-2 > li:before {
      content: "-  "
  }

  .lst-kix_j2qap8sdvxqn-3 > li:before {
      content: "-  "
  }

  .lst-kix_j2qap8sdvxqn-5 > li:before {
      content: "-  "
  }

  .lst-kix_ljn97p2jccff-1 > li:before {
      content: "-  "
  }

  .lst-kix_ljn97p2jccff-2 > li:before {
      content: "-  "
  }

  .lst-kix_j2qap8sdvxqn-4 > li:before {
      content: "-  "
  }

  .lst-kix_j2qap8sdvxqn-8 > li:before {
      content: "-  "
  }

  .lst-kix_j2qap8sdvxqn-7 > li:before {
      content: "-  "
  }

  ul.lst-kix_ai4jmr1m2pq0-8 {
      list-style-type: none
  }

  .lst-kix_coes7w5sxl6-8 > li:before {
      content: "-  "
  }

  .lst-kix_ljn97p2jccff-0 > li:before {
      content: "-  "
  }

  ul.lst-kix_ai4jmr1m2pq0-7 {
      list-style-type: none
  }

  .lst-kix_j2qap8sdvxqn-6 > li:before {
      content: "-  "
  }

  ul.lst-kix_ai4jmr1m2pq0-6 {
      list-style-type: none
  }

  ul.lst-kix_ai4jmr1m2pq0-5 {
      list-style-type: none
  }

  .lst-kix_of6tcldr97p-3 > li:before {
      content: "-  "
  }

  .lst-kix_1xoehsg6ow2g-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_of6tcldr97p-5 > li:before {
      content: "-  "
  }

  .lst-kix_1xoehsg6ow2g-4 > li:before {
      content: "-  "
  }

  .lst-kix_1xoehsg6ow2g-2 > li:before {
      content: "-  "
  }

  .lst-kix_1xoehsg6ow2g-6 > li:before {
      content: "-  "
  }

  .lst-kix_of6tcldr97p-1 > li:before {
      content: "-  "
  }

  .lst-kix_984xak4h2p1r-6 > li:before {
      content: "-  "
  }

  .lst-kix_p2ztj3l1lpfw-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_p2ztj3l1lpfw-2 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_984xak4h2p1r-4 > li:before {
      content: "-  "
  }

  .lst-kix_984xak4h2p1r-8 > li:before {
      content: "-  "
  }

  .lst-kix_1xoehsg6ow2g-8 > li:before {
      content: "-  "
  }

  .lst-kix_p2ztj3l1lpfw-4 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_p2ztj3l1lpfw-6 > li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_of6tcldr97p-0 {
      list-style-type: none
  }

  ul.lst-kix_of6tcldr97p-2 {
      list-style-type: none
  }

  ul.lst-kix_of6tcldr97p-1 {
      list-style-type: none
  }

  ul.lst-kix_of6tcldr97p-4 {
      list-style-type: none
  }

  .lst-kix_kafdcyx5afmh-7 > li:before {
      content: "-  "
  }

  ul.lst-kix_of6tcldr97p-3 {
      list-style-type: none
  }

  ul.lst-kix_of6tcldr97p-6 {
      list-style-type: none
  }

  ul.lst-kix_of6tcldr97p-5 {
      list-style-type: none
  }

  ul.lst-kix_of6tcldr97p-8 {
      list-style-type: none
  }

  .lst-kix_984xak4h2p1r-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_kafdcyx5afmh-5 > li:before {
      content: "-  "
  }

  ul.lst-kix_of6tcldr97p-7 {
      list-style-type: none
  }

  .lst-kix_984xak4h2p1r-2 > li:before {
      content: "-  "
  }

  .lst-kix_9sq3rf3pxw4u-4 > li:before {
      content: "-  "
  }

  .lst-kix_kafdcyx5afmh-3 > li:before {
      content: "-  "
  }

  .lst-kix_9sq3rf3pxw4u-6 > li:before {
      content: "-  "
  }

  .lst-kix_4zgsutepat2w-4 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_xp32sf8hjeeg-3 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_4zgsutepat2w-2 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_4zgsutepat2w-6 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_kafdcyx5afmh-1 > li:before {
      content: "-  "
  }

  .lst-kix_y2e7up5055m9-3 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_w8mps0arc4uv-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_y2e7up5055m9-5 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_9sq3rf3pxw4u-2 > li:before {
      content: "-  "
  }

  .lst-kix_xp32sf8hjeeg-1 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_9sq3rf3pxw4u-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_p2ztj3l1lpfw-8 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_y2e7up5055m9-7 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_esok1lqq0gy4-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_esok1lqq0gy4-4 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_4zgsutepat2w-8 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_xp32sf8hjeeg-7 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_xp32sf8hjeeg-5 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_esok1lqq0gy4-2 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_aa8uo1paavna-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_r7k9cen0dq9c-7 > li:before {
      content: "-  "
  }

  .lst-kix_aa8uo1paavna-2 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_esok1lqq0gy4-8 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_w8mps0arc4uv-8 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_esok1lqq0gy4-6 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_w8mps0arc4uv-4 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_w8mps0arc4uv-2 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_w8mps0arc4uv-6 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_aa8uo1paavna-6 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_4zgsutepat2w-0 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_aa8uo1paavna-4 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_6jrfsfgynl7z-2 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_sob4lucndiow-0 > li:before {
      content: "-  "
  }

  ul.lst-kix_5ymx50v1c0qw-7 {
      list-style-type: none
  }

  .lst-kix_6jrfsfgynl7z-5 > li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_5ymx50v1c0qw-8 {
      list-style-type: none
  }

  ul.lst-kix_5ymx50v1c0qw-5 {
      list-style-type: none
  }

  .lst-kix_6jrfsfgynl7z-4 > li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_5ymx50v1c0qw-6 {
      list-style-type: none
  }

  ul.lst-kix_5ymx50v1c0qw-3 {
      list-style-type: none
  }

  ul.lst-kix_5ymx50v1c0qw-4 {
      list-style-type: none
  }

  ul.lst-kix_5ymx50v1c0qw-1 {
      list-style-type: none
  }

  .lst-kix_sob4lucndiow-2 > li:before {
      content: "-  "
  }

  ul.lst-kix_5ymx50v1c0qw-2 {
      list-style-type: none
  }

  ul.lst-kix_5ymx50v1c0qw-0 {
      list-style-type: none
  }

  .lst-kix_6jrfsfgynl7z-1 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_6jrfsfgynl7z-8 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_sob4lucndiow-3 > li:before {
      content: "-  "
  }

  .lst-kix_13dzeq64cau6-6 > li:before {
      content: "-  "
  }

  .lst-kix_13dzeq64cau6-7 > li:before {
      content: "-  "
  }

  .lst-kix_sob4lucndiow-7 > li:before {
      content: "-  "
  }

  .lst-kix_sob4lucndiow-6 > li:before {
      content: "-  "
  }

  .lst-kix_r7k9cen0dq9c-4 > li:before {
      content: "-  "
  }

  .lst-kix_wolug8284btx-6 > li:before {
      content: "-  "
  }

  .lst-kix_r7k9cen0dq9c-5 > li:before {
      content: "-  "
  }

  ul.lst-kix_kafdcyx5afmh-1 {
      list-style-type: none
  }

  ul.lst-kix_kafdcyx5afmh-0 {
      list-style-type: none
  }

  ul.lst-kix_p2ztj3l1lpfw-4 {
      list-style-type: none
  }

  ul.lst-kix_kafdcyx5afmh-5 {
      list-style-type: none
  }

  .lst-kix_5ymx50v1c0qw-7 > li:before {
      content: "-  "
  }

  ul.lst-kix_p2ztj3l1lpfw-5 {
      list-style-type: none
  }

  ul.lst-kix_kafdcyx5afmh-4 {
      list-style-type: none
  }

  ul.lst-kix_p2ztj3l1lpfw-2 {
      list-style-type: none
  }

  ul.lst-kix_kafdcyx5afmh-3 {
      list-style-type: none
  }

  .lst-kix_tfqsafltqpp5-1 > li:before {
      content: "-  "
  }

  ul.lst-kix_p2ztj3l1lpfw-3 {
      list-style-type: none
  }

  ul.lst-kix_kafdcyx5afmh-2 {
      list-style-type: none
  }

  ul.lst-kix_p2ztj3l1lpfw-8 {
      list-style-type: none
  }

  .lst-kix_r7k9cen0dq9c-1 > li:before {
      content: "-  "
  }

  ul.lst-kix_kafdcyx5afmh-8 {
      list-style-type: none
  }

  ul.lst-kix_p2ztj3l1lpfw-6 {
      list-style-type: none
  }

  ul.lst-kix_kafdcyx5afmh-7 {
      list-style-type: none
  }

  .lst-kix_tfqsafltqpp5-0 > li:before {
      content: "-  "
  }

  ul.lst-kix_p2ztj3l1lpfw-7 {
      list-style-type: none
  }

  ul.lst-kix_kafdcyx5afmh-6 {
      list-style-type: none
  }

  ul.lst-kix_tfqsafltqpp5-2 {
      list-style-type: none
  }

  .lst-kix_r7k9cen0dq9c-0 > li:before {
      content: "-  "
  }

  ul.lst-kix_tfqsafltqpp5-3 {
      list-style-type: none
  }

  ul.lst-kix_tfqsafltqpp5-0 {
      list-style-type: none
  }

  ul.lst-kix_tfqsafltqpp5-1 {
      list-style-type: none
  }

  .lst-kix_7zuofplmnfl2-8 > li:before {
      content: "-  "
  }

  .lst-kix_ai4jmr1m2pq0-8 > li:before {
      content: "\0025c6   "
  }

  ul.lst-kix_tfqsafltqpp5-8 {
      list-style-type: none
  }

  .lst-kix_7zuofplmnfl2-7 > li:before {
      content: "-  "
  }

  .lst-kix_5ymx50v1c0qw-8 > li:before {
      content: "-  "
  }

  ul.lst-kix_tfqsafltqpp5-6 {
      list-style-type: none
  }

  ul.lst-kix_tfqsafltqpp5-7 {
      list-style-type: none
  }

  ul.lst-kix_tfqsafltqpp5-4 {
      list-style-type: none
  }

  ul.lst-kix_tfqsafltqpp5-5 {
      list-style-type: none
  }

  .lst-kix_9sq3rf3pxw4u-8 > li:before {
      content: "-  "
  }

  .lst-kix_dyogcpel8zf1-7 > li:before {
      content: "-  "
  }

  .lst-kix_imdop1hv8u6m-3 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_ai4jmr1m2pq0-0 > li:before {
      content: "\002012   "
  }

  .lst-kix_ai4jmr1m2pq0-4 > li:before {
      content: "\0025c6   "
  }

  .lst-kix_imdop1hv8u6m-2 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_imdop1hv8u6m-6 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_ai4jmr1m2pq0-7 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_dyogcpel8zf1-8 > li:before {
      content: "-  "
  }

  ul.lst-kix_cwa99jva2bqv-0 {
      list-style-type: none
  }

  ul.lst-kix_id6xy2u8uibi-7 {
      list-style-type: none
  }

  .lst-kix_5ymx50v1c0qw-3 > li:before {
      content: "-  "
  }

  ul.lst-kix_cwa99jva2bqv-1 {
      list-style-type: none
  }

  ul.lst-kix_id6xy2u8uibi-8 {
      list-style-type: none
  }

  ul.lst-kix_cwa99jva2bqv-2 {
      list-style-type: none
  }

  ul.lst-kix_id6xy2u8uibi-5 {
      list-style-type: none
  }

  .lst-kix_5ymx50v1c0qw-4 > li:before {
      content: "-  "
  }

  ul.lst-kix_cwa99jva2bqv-3 {
      list-style-type: none
  }

  ul.lst-kix_id6xy2u8uibi-6 {
      list-style-type: none
  }

  .lst-kix_imdop1hv8u6m-7 > li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_id6xy2u8uibi-0 {
      list-style-type: none
  }

  .lst-kix_5ymx50v1c0qw-0 > li:before {
      content: "\0027a2   "
  }

  ul.lst-kix_id6xy2u8uibi-3 {
      list-style-type: none
  }

  ul.lst-kix_id6xy2u8uibi-4 {
      list-style-type: none
  }

  .lst-kix_ai4jmr1m2pq0-3 > li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_id6xy2u8uibi-1 {
      list-style-type: none
  }

  ul.lst-kix_id6xy2u8uibi-2 {
      list-style-type: none
  }

  ul.lst-kix_cwa99jva2bqv-8 {
      list-style-type: none
  }

  .lst-kix_wolug8284btx-5 > li:before {
      content: "-  "
  }

  ul.lst-kix_cwa99jva2bqv-4 {
      list-style-type: none
  }

  ul.lst-kix_cwa99jva2bqv-5 {
      list-style-type: none
  }

  ul.lst-kix_cwa99jva2bqv-6 {
      list-style-type: none
  }

  ul.lst-kix_cwa99jva2bqv-7 {
      list-style-type: none
  }

  .lst-kix_wolug8284btx-1 > li:before {
      content: "-  "
  }

  .lst-kix_wolug8284btx-2 > li:before {
      content: "-  "
  }

  .lst-kix_of6tcldr97p-2 > li:before {
      content: "-  "
  }

  .lst-kix_r4r2jpva7wfy-5 > li:before {
      content: "-  "
  }

  .lst-kix_8ahwxmb4lw3v-4 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_8ahwxmb4lw3v-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_of6tcldr97p-6 > li:before {
      content: "-  "
  }

  .lst-kix_1xoehsg6ow2g-3 > li:before {
      content: "-  "
  }

  .lst-kix_8ahwxmb4lw3v-8 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_r4r2jpva7wfy-1 > li:before {
      content: "-  "
  }

  .lst-kix_p2ztj3l1lpfw-3 > li:before {
      content: "\0025cf   "
  }

  .lst-kix_984xak4h2p1r-5 > li:before {
      content: "-  "
  }

  ul.lst-kix_imdop1hv8u6m-7 {
      list-style-type: none
  }

  ul.lst-kix_imdop1hv8u6m-8 {
      list-style-type: none
  }

  ul.lst-kix_ipzq5wb174on-8 {
      list-style-type: none
  }

  ul.lst-kix_imdop1hv8u6m-5 {
      list-style-type: none
  }

  .lst-kix_1xoehsg6ow2g-7 > li:before {
      content: "-  "
  }

  ul.lst-kix_imdop1hv8u6m-6 {
      list-style-type: none
  }

  ul.lst-kix_ipzq5wb174on-6 {
      list-style-type: none
  }

  ul.lst-kix_imdop1hv8u6m-3 {
      list-style-type: none
  }

  ul.lst-kix_ipzq5wb174on-7 {
      list-style-type: none
  }

  ul.lst-kix_imdop1hv8u6m-4 {
      list-style-type: none
  }

  ul.lst-kix_r7k9cen0dq9c-0 {
      list-style-type: none
  }

  ul.lst-kix_imdop1hv8u6m-1 {
      list-style-type: none
  }

  ul.lst-kix_imdop1hv8u6m-2 {
      list-style-type: none
  }

  ul.lst-kix_r7k9cen0dq9c-2 {
      list-style-type: none
  }

  .lst-kix_ipzq5wb174on-5 > li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_r7k9cen0dq9c-1 {
      list-style-type: none
  }

  ul.lst-kix_imdop1hv8u6m-0 {
      list-style-type: none
  }

  ul.lst-kix_r7k9cen0dq9c-4 {
      list-style-type: none
  }

  ul.lst-kix_ipzq5wb174on-0 {
      list-style-type: none
  }

  ul.lst-kix_r7k9cen0dq9c-3 {
      list-style-type: none
  }

  ul.lst-kix_ipzq5wb174on-1 {
      list-style-type: none
  }

  ul.lst-kix_r7k9cen0dq9c-6 {
      list-style-type: none
  }

  ul.lst-kix_r7k9cen0dq9c-5 {
      list-style-type: none
  }

  ul.lst-kix_r7k9cen0dq9c-8 {
      list-style-type: none
  }

  ul.lst-kix_ipzq5wb174on-4 {
      list-style-type: none
  }

  ul.lst-kix_r7k9cen0dq9c-7 {
      list-style-type: none
  }

  ul.lst-kix_ipzq5wb174on-5 {
      list-style-type: none
  }

  .lst-kix_984xak4h2p1r-1 > li:before {
      content: "-  "
  }

  ul.lst-kix_ipzq5wb174on-2 {
      list-style-type: none
  }

  .lst-kix_kafdcyx5afmh-6 > li:before {
      content: "-  "
  }

  ul.lst-kix_ipzq5wb174on-3 {
      list-style-type: none
  }

  .lst-kix_y2e7up5055m9-2 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_9sq3rf3pxw4u-5 > li:before {
      content: "-  "
  }

  .lst-kix_dyogcpel8zf1-4 > li:before {
      content: "-  "
  }

  .lst-kix_hkcmwkbgky7b-7 > li:before {
      content: "-  "
  }

  .lst-kix_4zgsutepat2w-5 > li:before {
      content: "\0025a0   "
  }

  .lst-kix_7zuofplmnfl2-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_7zuofplmnfl2-4 > li:before {
      content: "-  "
  }

  .lst-kix_xp32sf8hjeeg-0 > li:before {
      content: "\0027a2   "
  }

  .lst-kix_xp32sf8hjeeg-4 > li:before {
      content: "\0025c6   "
  }

  .lst-kix_kafdcyx5afmh-2 > li:before {
      content: "-  "
  }

  ul.lst-kix_8ahwxmb4lw3v-8 {
      list-style-type: none
  }

  .lst-kix_id6xy2u8uibi-5 > li:before {
      content: "-  "
  }

  .lst-kix_w8mps0arc4uv-1 > li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_8ahwxmb4lw3v-4 {
      list-style-type: none
  }

  ul.lst-kix_ljn97p2jccff-7 {
      list-style-type: none
  }

  ul.lst-kix_8ahwxmb4lw3v-5 {
      list-style-type: none
  }

  ul.lst-kix_ljn97p2jccff-8 {
      list-style-type: none
  }

  .lst-kix_y2e7up5055m9-6 > li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_8ahwxmb4lw3v-6 {
      list-style-type: none
  }

  .lst-kix_9sq3rf3pxw4u-1 > li:before {
      content: "-  "
  }

  .lst-kix_dyogcpel8zf1-0 > li:before {
      content: "-  "
  }

  ul.lst-kix_8ahwxmb4lw3v-7 {
      list-style-type: none
  }

  .lst-kix_tfqsafltqpp5-8 > li:before {
      content: "-  "
  }

  .lst-kix_cwa99jva2bqv-5 > li:before {
      content: "-  "
  }

  ul.lst-kix_8ahwxmb4lw3v-0 {
      list-style-type: none
  }

  .lst-kix_esok1lqq0gy4-3 > li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_8ahwxmb4lw3v-1 {
      list-style-type: none
  }

  ul.lst-kix_8ahwxmb4lw3v-2 {
      list-style-type: none
  }

  ul.lst-kix_8ahwxmb4lw3v-3 {
      list-style-type: none
  }

  .lst-kix_p2ztj3l1lpfw-7 > li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_1xoehsg6ow2g-5 {
      list-style-type: none
  }

  .lst-kix_sxgw0t7tf0x7-8 > li:before {
      content: "-  "
  }

  ul.lst-kix_1xoehsg6ow2g-6 {
      list-style-type: none
  }

  .lst-kix_xp32sf8hjeeg-8 > li:before {
      content: "\0025c6   "
  }

  ul.lst-kix_1xoehsg6ow2g-7 {
      list-style-type: none
  }

  ul.lst-kix_1xoehsg6ow2g-8 {
      list-style-type: none
  }

  ul.lst-kix_1xoehsg6ow2g-1 {
      list-style-type: none
  }

  .lst-kix_hkcmwkbgky7b-3 > li:before {
      content: "-  "
  }

  ul.lst-kix_1xoehsg6ow2g-2 {
      list-style-type: none
  }

  ul.lst-kix_1xoehsg6ow2g-3 {
      list-style-type: none
  }

  ul.lst-kix_1xoehsg6ow2g-4 {
      list-style-type: none
  }

  .lst-kix_cwa99jva2bqv-1 > li:before {
      content: "-  "
  }

  .lst-kix_ipzq5wb174on-1 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_tfqsafltqpp5-4 > li:before {
      content: "-  "
  }

  ul.lst-kix_1xoehsg6ow2g-0 {
      list-style-type: none
  }

  .lst-kix_r7k9cen0dq9c-8 > li:before {
      content: "-  "
  }

  .lst-kix_sxgw0t7tf0x7-0 > li:before {
      content: "-  "
  }

  .lst-kix_sxgw0t7tf0x7-4 > li:before {
      content: "-  "
  }

  .lst-kix_esok1lqq0gy4-7 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_13dzeq64cau6-3 > li:before {
      content: "-  "
  }

  li.li-bullet-0:before {
      margin-left: -9pt;
      white-space: nowrap;
      display: inline-block;
      min-width: 9pt
  }

  ul.lst-kix_ljn97p2jccff-3 {
      list-style-type: none
  }

  .lst-kix_id6xy2u8uibi-1 > li:before {
      content: "-  "
  }

  ul.lst-kix_ljn97p2jccff-4 {
      list-style-type: none
  }

  .lst-kix_aa8uo1paavna-7 > li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_ljn97p2jccff-5 {
      list-style-type: none
  }

  .lst-kix_w8mps0arc4uv-5 > li:before {
      content: "\
0025a0   "
  }

  ul.lst-kix_ljn97p2jccff-6 {
      list-style-type: none
  }

  ul.lst-kix_ljn97p2jccff-0 {
      list-style-type: none
  }

  ul.lst-kix_ljn97p2jccff-1 {
      list-style-type: none
  }

  ul.lst-kix_ljn97p2jccff-2 {
      list-style-type: none
  }

  .lst-kix_4zgsutepat2w-1 > li:before {
      content: "\0025cb   "
  }

  .lst-kix_aa8uo1paavna-3 > li:before {
      content: "\0025cf   "
  }

  ol {
      margin: 0;
      padding: 0
  }

  table td, table th {
      padding: 0
  }

  .c14 {
      border-right-style: solid;
      padding-top: 1pt;
      border-top-width: 0pt;
      border-right-width: 0pt;
      padding-left: 1pt;
      padding-bottom: 1pt;
      line-height: 1.15;
      page-break-after: avoid;
      border-left-width: 0pt;
      border-top-style: solid;
      border-left-style: solid;
      border-bottom-width: 0pt;
      border-bottom-style: solid;
      orphans: 2;
      widows: 2;
      text-align: justify;
      padding-right: 1pt
  }

  .c6 {
      border-right-style: solid;
      border-bottom-color: #000000;
      border-top-width: 0pt;
      border-right-width: 0pt;
      border-left-color: #000000;
      vertical-align: top;
      border-right-color: #000000;
      border-left-width: 0pt;
      border-top-style: solid;
      border-left-style: solid;
      border-bottom-width: 0pt;
      width: 270pt;
      border-top-color: #000000;
      border-bottom-style: solid
  }

  .c16 {
      padding-top: 14pt;
      margin-bottom: 18px;
      border-bottom-color: #000000;
      border-bottom-width: 0.5pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      border-bottom-style: solid;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: justify
  }

  .c8 {
      padding-top: 0pt;
      border-bottom-color: #000000;
      border-bottom-width: 0.5pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      border-bottom-style: solid;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: center
  }

  .c2 {
      background-color: #c9daf8;
      color: #000000;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 14pt;
      font-family: "Roboto Condensed";
      font-style: normal
  }

  .c21 {
      margin-left: 18pt;
      padding-top: 2pt;
      padding-left: -9pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      orphans: 2;
      widows: 2;
      text-align: justify
  }

  .c34 {
      color: #000000;
      font-weight: 300;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 6pt;
      font-family: "Lexend";
      font-style: normal
  }

  .c3 {
      color: #000000;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 14pt;
      font-family: "Roboto Condensed";
      font-style: normal
  }

  .c0 {
      color: #000000;
      font-weight: 300;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 14pt;
      font-family: "Lexend";
      font-style: normal
  }

  .c19 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 0.06;
      orphans: 2;
      widows: 2;
      text-align: justify;
      height: 12pt
  }

  .c13 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      orphans: 2;
      widows: 2;
      text-align: justify
  }

  .c22 {
      color: #000000;
      font-weight: 300;
      text-decoration: none;
      vertical-align: baseline;
      font-family: "Comfortaa";
      font-style: normal
  }

  .c32 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.0;
      orphans: 2;
      widows: 2;
      text-align: right
  }

  .c17 {
      color: #000000;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 26pt;
      font-family: "Lexend";
      font-style: normal
  }

  .c27 {
      padding-top: 6pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      orphans: 2;
      widows: 2;
      text-align: justify
  }

  .c20 {
      padding-top: 10pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      orphans: 2;
      widows: 2;
      text-align: justify
  }

  .c24 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.0;
      text-align: left;
      height: 12pt
  }

  .c23 {
      color: #000000;
      text-decoration: none;
      vertical-align: baseline;
      font-family: "Roboto Condensed";
      font-style: normal
  }

  .c30 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.0;
      text-align: left
  }

  .c25 {
      border-spacing: 0;
      border-collapse: collapse;
      margin-right: auto
  }

  .c12 {
      text-decoration-skip-ink: none;
      -webkit-text-decoration-skip: none;
      color: #1155cc;
      text-decoration: underline
  }

  .c31 {
      background-color: #ffffff;
      max-width: 540pt;
      padding: 36pt 36pt 31.5pt 36pt
  }

  .c5 {
      font-size: 14pt;
      font-family: "Lexend";
      font-weight: 300
  }

  .c1 {
      font-size: 14pt;
      font-weight: 700
  }

  .c9 {
      background-color: #ffffff;
      font-size: 14pt
  }

  .c4 {
      background-color: #c9daf8;
      font-size: 14pt
  }

  .c28 {
      margin-left: 18pt;
      padding-left: -9pt
  }

  .c7 {
      color: inherit;
      text-decoration: inherit
  }

  .c35 {
      padding: 0;
      margin: 0
  }

  .c18 {
      background-color: #fff2cc
  }

  .c11 {
      font-weight: 400
  }

  .c10 {
      font-size: 14pt
  }

  .c29 {
      height: 12pt
  }

  .c33 {
      font-size: 12pt
  }

  .c26 {
      height: 0pt
  }

  .c15 {
      background-color: #d9ead3
  }

  .title {
      padding-top: 0pt;
      color: #000000;
      font-weight: 700;
      font-size: 12pt;
      padding-bottom: 0pt;
      font-family: "Roboto Condensed";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: center
  }

  .subtitle {
      padding-top: 0pt;
      color: #666666;
      font-size: 15pt;
      padding-bottom: 16pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: justify
  }

  li {
      color: #000000;
      font-size: 12pt;
      font-family: "Roboto Condensed"
  }

  p {
      margin: 0;
      color: #000000;
      font-size: 12pt;
      font-family: "Roboto Condensed"
  }

  h1 {
      margin: 0;
      color: #000000;
      border-bottom-color: #000000;
      font-weight: 300;
      font-size: 14pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      page-break-after: avoid;
      border-bottom-width: 0.5pt;
      font-family: "Comfortaa";
      border-bottom-style: solid;
      orphans: 2;
      widows: 2;
      text-align: justify
  }

  h2 {
      border-right-style: solid;
      color: #000000;
      border-top-width: 0pt;
      font-weight: 700;
      padding-left: 1pt;
      font-size: 12pt;
      border-left-style: solid;
      font-family: "Roboto Condensed";
      orphans: 2;
      text-align: justify;
      padding-top: 1pt;
      border-right-width: 0pt;
      padding-bottom: 1pt;
      line-height: 1.15;
      page-break-after: avoid;
      border-left-width: 0pt;
      border-top-style: solid;
      border-bottom-width: 0pt;
      border-bottom-style: solid;
      widows: 2;
      padding-right: 1pt
  }

  h3 {
      padding-top: 16pt;
      color: #434343;
      font-size: 14pt;
      padding-bottom: 4pt;
      font-family: "Roboto Condensed";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: justify
  }

  h4 {
      padding-top: 14pt;
      color: #666666;
      font-size: 12pt;
      padding-bottom: 4pt;
      font-family: "Roboto Condensed";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: justify
  }

  h5 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Roboto Condensed";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: justify
  }

  h6 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Roboto Condensed";
      line-height: 1.15;
      page-break-after: avoid;
      font-style: italic;
      orphans: 2;
      widows: 2;
      text-align: justify
  }</style>
</head>
<body class="c31 doc-content"><h1 class="c8" id="h.xipdiit0ju0w"><span class="c11 c17">Andrew Koidan</span></h1>
<a id="t.308a02ee4e00e5c50787926a29a7209acd4a9908"></a><a id="t.0"></a>
<table class="c25">
  <thead>
  <tr class="c26">
    <td class="c6" colspan="1" rowspan="1"><p class="c27"><span
      style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 16.32px; height: 13.19px;"><img
      alt="" src={image4}
      style="width: 19.61px; height: 20.61px; margin-left: -1.71px; margin-top: -4.08px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
      title=""></span><span class="c5">&nbsp;</span><span class="c12 c5"><a class="c7"
                                                                            href="mailto:deathangel908@gmail.com">deathangel908@gmail.com</a></span>
    </p></td>
    <td class="c6" colspan="1" rowspan="6"><p class="c32"><span
      style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 268.50px; height: 160.92px;"><img
      alt="" src={image1}
      style="width: 268.50px; height: 160.92px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
      title=""></span></p></td>
  </tr>
  <tr class="c26">
    <td class="c6" colspan="1" rowspan="1"><p class="c13"><span
      style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 16.32px; height: 16.32px;"><img
      alt="" src={image3}
      style="width: 16.32px; height: 16.32px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
      title=""></span><span class="c5">&nbsp;</span><span class="c12 c5"><a class="c7"
                                                                            href="https://www.google.com/url?q=https://stackoverflow.com/users/3872976/deathangel908&amp;sa=D&amp;source=editors&amp;ust=1688767274166442&amp;usg=AOvVaw0Om5MUO76l9zXEtQSdKWNK">deathangel908</a></span>
    </p></td>
  </tr>
  <tr class="c26">
    <td class="c6" colspan="1" rowspan="1"><p class="c13"><span
      style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 16.32px; height: 16.32px;"><img
      alt="" src={image7}
      style="width: 16.32px; height: 16.32px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
      title=""></span><span class="c5">&nbsp;</span><span class="c12 c5"><a class="c7"
                                                                            href="https://www.google.com/url?q=https://github.com/akoidan&amp;sa=D&amp;source=editors&amp;ust=1688767274167467&amp;usg=AOvVaw3NKZcD95e1Bj_lSzkFJDxd">akoidan</a></span>
    </p></td>
  </tr>
  <tr class="c26">
    <td class="c6" colspan="1" rowspan="1"><p class="c13"><span
      style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 16.32px; height: 16.32px;"><img
      alt="" src={image6}
      style="width: 18.09px; height: 18.13px; margin-left: -0.87px; margin-top: -0.90px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
      title=""></span><span class="c5">&nbsp;</span><span class="c12 c5"><a class="c7"
                                                                            href="https://www.google.com/url?q=https://www.linkedin.com/in/akoidan/&amp;sa=D&amp;source=editors&amp;ust=1688767274168309&amp;usg=AOvVaw3FauwZ227guuxSc2vIN8S8">akoidan</a></span>
    </p></td>
  </tr>
  <tr class="c26">
    <td class="c6" colspan="1" rowspan="1"><p class="c13"><span
      style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 16.32px; height: 16.32px;"><img
      alt="" src={image5} style="width: 16.32px; height: 16.
32px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
      title=""></span><span class="c5">&nbsp;</span><span class="c12 c5">+380636972218</span></p></td>
  </tr>
  <tr class="c26">
    <td class="c6" colspan="1" rowspan="1"><p class="c13"><span
      style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 16.32px; height: 16.32px;"><img
      alt="" src={image2}
      style="width: 16.32px; height: 16.32px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
      title=""></span><span class="c0">&nbsp;Rijeka/Croatia</span></p></td>
  </tr>
  </thead>
</table>
<h1 class="c16" id="h.v164t7ki1q6a"><span class="c18">TECHNICAL SKILLS</span></h1>
<ul class="c35 lst-kix_sxgw0t7tf0x7-0 start">
  <li class="c13 c28 li-bullet-0"><span class="c1">Principal Engineer</span><span class="c3">&nbsp;with deep understanding of aspects of building SSR/SPA/SSG webapps, Native/Hybrid/Cordova mobile apps, as well as Monolithic/Microservices/Serverless backend.</span>
  </li>
  <li class="c21 li-bullet-0"><span class="c1">Team Lead</span><span class="c10">&nbsp;and </span><span class="c1">Scrum Master</span><span
    class="c3">&nbsp;with a wide range of experience in various teams and projects.</span></li>
  <li class="c21 li-bullet-0"><span class="c1">DevOps</span><span class="c3">&nbsp;experienced with GCP/AWS/CF, Terraform, Kubernetes, Helm, and dozen CI/CDs</span>
  </li>
  <li class="c21 li-bullet-0"><span class="c10">Shipped a lot of projects on </span><span class="c1">Java</span><span
    class="c10">,</span><span class="c1">&nbsp;Python</span><span class="c10">, </span><span class="c1">Go</span><span
    class="c10">,</span><span class="c1">&nbsp;Javascript</span><span class="c10">, </span><span
    class="c1">TypeScript</span><span class="c10">&nbsp;using most popular</span><span class="c3">&nbsp;frameworks like Vue, React, Gatsby, Django, Spring, NestJS.</span>
  </li>
  <li class="c21 li-bullet-0"><span class="c10">English </span><span class="c10">CEFR</span><span
    class="c10">: C1. </span><span class="c10">Specialist</span><span class="c3">&nbsp;Degree in System Programming at CNTU, 2009-2014</span>
  </li>
</ul>
<h1 class="c16" id="h.wjj2c7odca9e"><span class="c22 c4">PROFESSIONAL BACKGROUND</span></h1>
<h2 class="c14" id="h.85v37jum7xl0"><span class="c4">Teamlead </span><span class="c4 c11">contract at</span><span
  class="c4">&nbsp;</span><span class="c12 c4 c11"><a class="c7"
                                                      href="https://www.google.com/url?q=https://www.linkedin.com/company/vertrical/mycompany/&amp;sa=D&amp;source=editors&amp;ust=1688767274171367&amp;usg=AOvVaw2pxWwRjo5NrkBTG5IN2xGN">Vertrical</a></span><span
  class="c4 c11">&nbsp;</span><span class="c2">May&rsquo;21 - May&rsquo;23</span></h2>
<p class="c13"><span
  class="c10">I was building an ecommerce product based on microservices and technologies such as </span><span
  class="c1">GCP</span><span class="c10">, </span><span class="c1">Gatsby</span><span
  class="c10">, Contentful, GraphQL, </span><span class="c1">NestJs</span><span class="c10">, </span><span class="c1">Kubernetes</span><span
  class="c10">, CircleCI, ArgoCD, Netlify, Helm. And another product in </span><span class="c1">Go</span><span
  class="c10">, </span><span class="c1">Vue</span><span class="c10">, Cypress, </span><span
  class="c1">ReactNative</span><span class="c3">. My core responsibilities include leading, establishing CI/CD and GitOps infrastructure and addressing architectural changes within the projects.</span>
</p>
<h2 class="c14" id="h.jq5c4ooukrim"><span class="c4">Teamlead </span><span class="c4 c11">contract at</span><span
  class="c4">&nbsp;</span><span class="c12 c4 c11"><a class="c7"
                                                      href="https://www.google.com/url?q=https://www.linkedin.com/company/madrabbit/&amp;sa=D&amp;source=editors&amp;ust=1688767274172910&amp;usg=AOvVaw2EGQETuoBezPKccUGzpwpA">Madrabbit</a></span><span
  class="c4">&nbsp;</span><span class="c4 c11">Apr</span><span class="c2">&rsquo;20 - May&rsquo;21</span></h2>
<p class="c13"><span class="c10">I was spearheading the development of a high-traffic social app using a pure microservices architecture. My role involved creating the architecture, estimating project timelines, and breaking down tasks into manageable stories. The technology stack included </span><span
  class="c1">NestJS</span><span class="c10">, </span><span class="c1">React</span><span class="c10">, </span><span
  class="c1">React-Native</span><span class="c10">, GraphQL, </span><span class="c1">GCP</span><span
  class="c10">, </span><span class="c1">Kubernetes</span><span class="c3">, Terraform, and Helm.</span></p>
<h2 class="c14" id="h.sarijyua7q1r"><span class="c4">Lead link, Scrum Master </span><span class="c4 c11">and</span><span
  class="c4">&nbsp;Facilita</span><span class="c4">tor </span><span class="c4 c11">contract at </span><span
  class="c12 c4 c11"><a class="c7"
                        href="https://www.google.com/url?q=https://www.labster.com/&amp;sa=D&amp;source=editors&amp;ust=1688767274174252&amp;usg=AOvVaw0uSsh4Fqh-Bh2VySi6JbHw">Labster</a></span><span
  class="c2">&nbsp;Apr&lsquo;19 - Apr&rsquo;20</span></h2>
<p class="c13"><span class="c10">I was breaking monolithic backend into microservices for the greatest 3D education VR lab for scientists. Leading and mentoring my team. Integrated Scrum into the development lifecycle. Facilitating and collaborating in meetings with other teams and product owners. Running interviews for senior positions. My tech stack included </span><span
  class="c1">Python</span><span class="c10">, DRF, &nbsp;React, Flask, </span><span class="c1">Vue</span><span
  class="c10">, </span><span class="c1">Typescript</span><span class="c10">, Cypress, &nbsp;DroneCI, </span><span
  class="c10 c12"><a class="c7"
                     href="https://www.google.com/url?q=https://tagmanager.google.com/&amp;sa=D&amp;source=editors&amp;ust=1688767274175020&amp;usg=AOvVaw0BAai0jJ433h_zp-e9_GlN">GTM</a></span><span
  class="c10">, </span><span class="c12 c10"><a class="c7"
                                                href="https://www.google.com/url?q=https://github.com/pact-foundation&amp;sa=D&amp;source=editors&amp;ust=1688767274175335&amp;usg=AOvVaw2wLMRabuOQ4JhSyVudLstk">Pact</a></span><span
  class="c10">, </span><span class="c1">AWS</span><span class="c3">, Stripe SCA, and Kubernetes.</span></p>
<h2 class="c14" id="h.pj2riysr90hb"><span class="c4">Full-stack developer </span><span
  class="c4 c11">full-time</span><span class="c4">&nbsp;</span><span class="c4 c11">Dec</span><span class="c2">&rsquo;13 - Mar&rsquo;19</span>
</h2>
<p class="c13"><span class="c3">During these years I have worked in multiple companies, handling various projects from scratch and maintaining existing ones, including legacy code. </span>
</p>
<p class="c20"><span class="c10">As </span><span class="c1">backend</span><span class="c10">&nbsp;developer I worked with </span><span
  class="c1">Java</span><span class="c10">, Spring Boot, </span><span class="c1">Groovy</span><span class="c10">, Oracle DB, MongoDB, Ant, SoapUI, Glassfish, Jenkins, Log4j, Bash, Mercurial, Vaadin, ActiveMQ, JSF, PrimeFaces, Alfresco, Hibernate, JPA, XSLT, OpenCMIS, Selenium, Apache POI, WebLogic, TestNG, Elasticsearch, Liquibase, Postgres, Cassandra, Docker, Kafka, Gatling, Mockito, Apache Camel, and Hybris. Additionally, </span><span
  class="c1">Node.js</span><span class="c10">, Sequelize, Express.js, Stripe, and Postgres, and </span><span class="c1">PHP</span><span
  class="c3">&nbsp;(LAMP).</span></p>
<p class="c20"><span class="c10">As an </span><span class="c1">Android</span><span class="c10">&nbsp;developer, I have experience with </span><span
  class="c1">Android TV</span><span class="c10">, </span><span class="c1">React Native</span><span
  class="c10">, and </span><span class="c1">Android</span><span class="c10">&nbsp;Native using </span><span class="c1">Kotlin</span><span
  class="c10">, </span><span class="c1">Java</span><span class="c10">, and </span><span
  class="c1">Typescript</span><span class="c3">. Tech stack also included Dagger, RxJava, Retrofit, Volley, Gson, Timber, Mockito, Roboelectric, Espresso, Selma, Otto, ButterKnife, Auth0, BLE, Firebase, Google Maps, Stripe, and Android Widgets.</span>
</p>
<p class="c20"><span class="c10">In </span><span class="c1">frontend </span><span class="c10">development, I was creating websites and Chrome extensions using </span><span
  class="c1">Vue</span><span class="c10">&nbsp;and </span><span class="c1">React</span><span
  class="c10">&nbsp;with </span><span class="c1">JavaScript</span><span class="c10">&nbsp;and </span><span class="c1">Typescript.</span><span
  class="c3">&nbsp;Tech stack also included Vuex, FB pixel, Sass, Mobx, Webpack, Redux, Saga.</span></p>
<p class="c20"><span class="c3">Apart from coding, I have also been responsible for tasks such as writing technical and conceptual documentation, mentoring team members, collaborating with product owners and managers, organizing PDLC, creating CI/CD pipelines, setting up production environments, and speaking at internal conferences.</span>
</p>
<h1 class="c16" id="h.y7cfed6829q9"><span class="c22 c10 c15">MY OPEN SOURCE PROJECTS</span></h1>
<h2 class="c14" id="h.uyl8vxi5glnz"><span class="c10 c15">Webchat </span><span class="c12 c11 c10 c15"><a class="c7"
                                                                                                          href="https://www.google.com/url?q=https://pychat.org/&amp;sa=D&amp;source=editors&amp;ust=1688767274177677&amp;usg=AOvVaw0s0XDWjnlFgS_giKsCXb3B">pychat.org</a></span>
</h2>
<p class="c13"><span class="c10">Pychat is a cost-effective, </span><span class="c12 c10"><a class="c7"
                                                                                             href="https://www.google.com/url?q=https://github.com/akoidan/pychat&amp;sa=D&amp;source=editors&amp;ust=1688767274178245&amp;usg=AOvVaw0vOsjU6V6IcUqRW1tlQEWe">open-source</a></span><span
  class="c10">&nbsp;communication app designed for company use. It serves as a self-hosted alternative to Slack. Pychat can be easily set up with a
single </span><span class="c1">Terraform</span><span
  class="c10">&nbsp;command on Linode using Helm charts and </span><span class="c1">K8s</span><span class="c10">. Written on </span><span
  class="c1">Python</span><span class="c10">&nbsp;&amp; </span><span class="c1">Vue, </span><span
  class="c10">Pychat</span><span class="c10">&nbsp;offers messaging, secure chats, video calls, conference calls, and screen sharing using </span><span
  class="c1">WebRTC</span><span class="c10">.</span></p>
<h2 class="c14" id="h.jckd7domg14a"><span class="c10 c15">Personal blog </span><span class="c12 c11 c10 c15"><a
  class="c7"
  href="https://www.google.com/url?q=https://blog.akoidan.com&amp;sa=D&amp;source=editors&amp;ust=1688767274178998&amp;usg=AOvVaw0_hb8vGDCs69cxpnWeBi-4">blog.akoidan.com</a></span>
</h2>
<p class="c13"><span class="c10">My personal blog with a diverse</span><span class="c9">&nbsp;range of topics including linux, devops and software patterns.</span>
</p>
<h2 class="c14" id="h.1r8rb1hycom0"><span class="c10 c15">Open source projects</span></h2>
<p class="c13"><span class="c10">Check out</span><span class="c10">&nbsp;</span><span class="c12 c10"><a class="c7"
                                                                                                         href="https://www.google.com/url?q=https://github.com/akoidan&amp;sa=D&amp;source=editors&amp;ust=1688767274179745&amp;usg=AOvVaw3o2_0GHkOZiq2-JKYygUQ8">github.com/akoidan</a></span><span
  class="c10">.</span><span class="c10">&nbsp;It includes 50+ pet projects that I developed while studying. Top picks are: &nbsp;</span><span
  class="c12 c10"><a class="c7"
                     href="https://www.google.com/url?q=https://github.com/akoidan/node-db-migration&amp;sa=D&amp;source=editors&amp;ust=1688767274180076&amp;usg=AOvVaw2nT_Z5PSzDtR7l_DG8T2Xt">node-db-migration</a></span><span>, </span><span
  class="c12 c10"><a class="c7"
                     href="https://www.google.com/url?q=https://github.com/akoidan/vue3-vite-vue-class-component&amp;sa=D&amp;source=editors&amp;ust=1688767274180318&amp;usg=AOvVaw19KlfyZtoDHvntPKAGJfB7">vue3-vite-vue-class-component</a></span><span
  class="c10">, </span><span class="c12 c10"><a class="c7"
                                                href="https://www.google.com/url?q=https://github.com/akoidan/lines-logger&amp;sa=D&amp;source=editors&amp;ust=1688767274180522&amp;usg=AOvVaw2SQfYZvI6TgfRdJ1fmyioF">lines-logger</a></span><span
  class="c10">, &nbsp;</span><span class="c12 c10"><a class="c7"
                                                      href="https://www.google.com/url?q=https://github.com/akoidan/spainter&amp;sa=D&amp;source=editors&amp;ust=1688767274180783&amp;usg=AOvVaw3oEOR_CeaCyVvS9xgGKXYl">spainter</a></span><span
  class="c3">.</span></p>
<div><p class="c13 c29"><span class="c23 c11 c33"></span></p></div>
</body>
</html>
